{% extends 'base.html' %}

{% block title %} URL Saver {% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}
<div class="modal position-static d-block  py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content rounded-5 shadow" id="task-container">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <!-- <h5 class="modal-title">Modal title</h5> -->
        <h2 class="fw-bold mb-0">Url Saver App</h2>
        <a type="button" class="btn-close" id="logout"></a>
      </div>

      <div class="modal-body p-5 pt-0" id="form-wrapper">

        <form class="pt-3" id="form">
          <div class="input-group mb-3">
            <input type="text" class="form-control rounded-4" id="search" placeholder="Enter your keyword to search"
              aria-label="Recipient's demanded url" aria-describedby="button-addon2" id="url">
            <button class="btn btn-primary" type="button" id="CreateLink" data-bs-toggle="modal"
              data-bs-target="#FormModal"><i class="bi bi-plus-circle"></i></button>
          </div>

        </form>

        <hr class="my-4">
        <div id="list-wrapper">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="FormModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="FormModalLabel">Create Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="createForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="FormModalTitle">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Url:</label>
            <input type="url" aria-label="Recipient's demanded url" class="form-control" id="FormModalUrl"
              placeholder="http://www.example.com" pattern="https?://.+" required>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Descriptions:</label>
            <textarea class="form-control" id="FormModalDescriptions"></textarea>
          </div>
      </div>
      <div class="modal-footer" id="ModalFooter">
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
<script>
  let search_term = "";
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  let csrftoken = getCookie('csrftoken');


  const search = document.getElementById("search");
  search.addEventListener("input", (event) => {
    search_term = event.target.value.toLowerCase();
    buildList()
  });

  var list_snapshot = []
  buildList()

  function buildList() {
    var wrapper = document.getElementById('list-wrapper')
    var url = `/tracker/api/list-url/`
    fetch(url)
      .then((resp) => resp.json())
      .then(function (data) {
        // console.log('Data:', data)
        if (search_term != "")
          data = data
            .filter((item) => {
              if (item.descriptions === null) {
                result = item.title.toLowerCase().includes(search_term)
                  || item.url.toLowerCase().includes(search_term)
              }
              else {
                result = item.title.toLowerCase().includes(search_term)
                  || item.url.toLowerCase().includes(search_term)
                  || item.descriptions.toLowerCase().includes(search_term)
              }
              return result
            })

        var list = data
        for (var i in list) {
          try {
            document.getElementById(`data-row-${i}`).remove()
          } catch (err) {

          }
          var title = list[i].title
          var link = list[i].url
          var descriptions = list[i].descriptions
          var item = `
                    <div class="input-group py-1" id="data-row-${i}">                        
                        <div class="input-group">
                          <span type="text" class="form-control ">${title}</span>
                                                   
                          <button type="button" class="btn btn-danger delete" data-bs-toggle="modal" data-bs-target="#FormModal"><i class="bi bi-trash"></i></button>   
                          <button class="btn btn-warning detail" type="button" data-bs-toggle="modal" data-bs-target="#FormModal"><i class="bi bi-pencil-square"></i></i></button>
                          <a type="button" class="btn btn-primary" href="${link}" target="_blank"><i class="bi bi-link-45deg"></i></a>                           
                        </div>                                                
                    </div>`
          wrapper.innerHTML += item
        }

        if (list_snapshot.length > list.length) {
          for (var i = list.length; i < list_snapshot.length; i++) {
            document.getElementById(`data-row-${i}`).remove()
          }
        }

        list_snapshot = list

        for (var i in list) {
          var deleteBtn = document.getElementsByClassName('delete')[i]
          deleteBtn.addEventListener('click', (function (item) {
            return function () {
              deleteModal(item)
            }
          })(list[i]))
        }
        for (var i in list) {
          var detailBtn = document.getElementsByClassName('detail')[i]
          detailBtn.addEventListener('click', (function (item) {
            return function () {
              detailModal(item)
            }
          })(list[i]))
        }

      });
  }

  function deleteModal(item) {
    data = fetch(`/tracker/api/detail-url/${item.id}/`, {
      method: 'GET',
      headers: {
        'Content-type': 'application/json',
        'X-CSRFToken': csrftoken,
      }
    })
      .then((resp) => resp.json())
      .then(function (data) {
        // console.log(data)
        title = document.getElementById('FormModalTitle')
        url = document.getElementById('FormModalUrl')
        description = document.getElementById('FormModalDescriptions')
        modal_footer = document.getElementById('ModalFooter')
        modal_label = document.getElementById('FormModalLabel')
        modal_label.innerHTML = "Delete Form"

        modal_footer.innerHTML = "";
        buttons = `<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" onclick="deleteItem(${item.id})"data-bs-dismiss="modal">Delete</button>`
        $(modal_footer).html(buttons);
        title.value = data.title
        url.value = data.url
        if (data.descriptions != null)
          description.value = data.descriptions
        else
          description.value = "no descriptions"
      })
  }

  function detailModal(item) {
    data = fetch(`/tracker/api/detail-url/${item.id}/`, {
      method: 'GET',
      headers: {
        'Content-type': 'application/json',
        'X-CSRFToken': csrftoken,
      }
    })
      .then((resp) => resp.json())
      .then(function (data) {
        // console.log(data)
        title = document.getElementById('FormModalTitle')
        url = document.getElementById('FormModalUrl')
        description = document.getElementById('FormModalDescriptions')
        modal_label = document.getElementById('FormModalLabel')

        modal_label.innerHTML = "Change Form"
        modal_footer = document.getElementById('ModalFooter')
        modal_footer.innerHTML = "";
        buttons = `<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="createLink(update=true,item_id=${item.id})" id="SubmitButton" data-bs-dismiss="modal">Change</button>`
        $(modal_footer).html(buttons);
        title.value = data.title
        url.value = data.url
        if (data.descriptions != null)
          description.value = data.descriptions
        else
          description.value = "no descriptions"

      })
  }

  function deleteItem(item) {

    fetch(`/tracker/api/detail-url/${item}/`, {
      method: 'DELETE',
      headers: {
        'Content-type': 'application/json',
        'X-CSRFToken': csrftoken,
      }
    }).then((response) => {
      buildList()
    })
  }

  let create_btn = document.getElementById('CreateLink')
  create_btn.addEventListener('click', function (e) {
    let form = document.getElementById('createForm')
    form.reset();
    modal_label = document.getElementById('FormModalLabel')
    modal_label.innerHTML = "Create Form"
    modal_footer = document.getElementById('ModalFooter')
    modal_footer.innerHTML = "";
    buttons = `<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" onclick="createLink()" id="SubmitButton" data-bs-dismiss="modal">Create</button>`
    $(modal_footer).html(buttons);
  })

  let logout = document.getElementById('logout')
  logout.addEventListener('click', function (e) {
    const Http = new XMLHttpRequest();
    const url = `/accounts/api/logout/`
    Http.open("GET", url);
    Http.send();

    Http.onreadystatechange = (e) => {
      // console.log(Http.responseText)
      if (Http.status == 200) {
        location.reload();
      }
      else {
        alert(`Error: ${Http.status} \nMsg: ${response["non_field_errors"]}`)
      }
    }
  })


  function createLink(update = false, item_id = null) {
    let url
    let code
    if (update) {
      url = `/tracker/api/detail-url/${item_id}/`
      code = 200
    }
    else {
      url = `/tracker/api/list-url/`
      code = 201
    }

    let obj_url = document.getElementById('FormModalUrl').value
    let obj_title = document.getElementById('FormModalTitle').value
    let obj_descriptions = document.getElementById('FormModalDescriptions').value
    var Http = new XMLHttpRequest();
    Http.open("POST", url);
    Http.setRequestHeader("Accept", "application/json");
    Http.setRequestHeader("Content-Type", "application/json");
    Http.setRequestHeader("X-CSRFToken", csrftoken);

    Http.onreadystatechange = function () {

      if (Http.readyState === 4) {
        // // console.log(Http.status);
        response = JSON.parse(Http.responseText);
        // // console.log(response);
        if (Http.status !== code) {
          alert(`Error: ${Http.status} \nMsg: ${Http.responseText}`)
        }
      }
      buildList()
      document.getElementById('createForm').reset()
    }
    data = JSON.stringify({ "title": obj_title, "url": obj_url, "descriptions": obj_descriptions })
    Http.send(data);
  }
  
</script>
{% endblock %}